* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



#header {
    display: flex;
    text-align: center;
    height: 60px;
}

.menu_left {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.menu_left a {
    padding: 22.5px 15px;
    text-decoration: none;
    color: black;
    display: flex;
    margin-right: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.logo {
    padding: 10px 0;
    width: 100%;
    justify-content: center;
}

.menu_right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.search-bar{
    color: #e6e6e6;
    margin-top: 20px;
    padding: 3px 0 0 5px;
    height: 30px;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
}
#cart, #account{
    margin-top: 15px;
    padding-right: 5px;
    height: 40px;
}
#banner{
    width: 100%;
}